.main-wrap {
  padding-block: var(--size-8);
  display: grid;
  grid-template:
    "title" 0.2fr
  "content" 2fr / 1fr;
  place-items: start;
  overflow: hidden;
  position: relative;
  gap: var(--size-4);
  overflow-x: hidden;
}
@media (min-width: 950px) {
  .main-wrap {
    grid-template: "content title" / 2fr 1fr;
    padding-block: var(--size-12);
    padding-right: var(--size-10);
    gap: var(--size-8);
    place-items: center;
  }
}

.section-title {
  grid-area: title;
  padding-inline: var(--size-4);
}

.container {
  grid-area: content;
  overflow: hidden;
  max-width: 100%;
}

.media-scroller {
  --_spacer: var(--size-2);
  display: grid;
  grid-auto-flow: column;
  gap: var(--size-3);
  grid-auto-columns: 10rem;
  padding-inline: var(--_spacer);
  padding-block: var(--_spacer);
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  place-items: center;
}

.media-element {
  display: grid;
  place-content: center;
  grid-template-rows: min-content;
  gap: var(--_spacer);
  padding: var(--_spacer);
  min-height: 10rem;
  max-height: 10rem;
  min-width: 10rem;
  box-shadow: var(--shadow-2);
  background: var(--surface4);
}

.media-element:hover {
  transform: scale(1.1);
  transition: transform 100ms var(--ease-in-1);
}

.partner-logo {
  object-fit: cover;
  max-width: 9rem;
  max-height: 9rem;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--_spacer);
}
.snaps-inline > * {
  scroll-snap-align: start;
}
