.title {
  display: grid;
}
.title h2 {
  font-size: var(--font-size-fluid-2);
  text-shadow: 0 1px 0 var(--brand);
  color: var(--brand);
}
@media (min-width: 850px) {
  .title {
    place-items: center;
    position: relative;
    z-index: var(--layer-3);
  }
  .title h2 {
    width: 5ch;
  }
  .title-left::before,
  .title-left::after,
  .title-right::before,
  .title-right::after {
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: var(--radius-3);
  }
  .title-left::before,
  .title-right::before {
    top: -4em;
    left: -2em;
    background: var(--surface3);
    background-image: var(--gradient-29);
    width: 15em;
    height: 15em;
    box-shadow: var(--shadow-3);
  }
  .title-left::before {
    transform: rotate(48deg);
  }
  .title-right::before {
    transform: rotate(42deg);
  }
  .title-left::after,
  .title-right::after {
    top: -5em;
    left: -3em;
    border: var(--border-size-1) solid var(--brand);
    width: 17em;
    height: 17em;
    box-shadow: var(--shadow-2);
  }
  .title-left::after {
    transform: rotate(42deg);
  }
  .title-right::after {
    transform: rotate(48deg);
  }
}
