.hero-wrap {
  display: grid;
  align-items: center;
  grid-template:
    "hero"
    "image" 10rem;
  background: var(--surface3);
  background-image: var(--gradient-29);
  overflow-x: hidden;
  position: relative;
}

@media (min-width: 950px) {
  .hero-wrap {
    grid-template: "hero image" / 3fr 2fr;
  }
}

@media (min-width: 1440px) {
  .hero-wrap {
    grid-template: "hero image ." / 3fr 2fr 1fr;
  }
}

.hero {
  grid-area: hero;
  display: grid;
  place-content: start;
  gap: var(--size-5);
  max-width: 100%;
  padding-inline: var(--size-4);
  padding-block: var(--size-8);
}

@media (min-width: 850px) {
  .hero {
    place-content: center;
  }
}

.hero-message {
  display: grid;
  grid-template-columns: max-content;
  line-height: var(--font-lineheight-0);
  color: var(--brand);
  font-size: var(--font-size-fluid-3);
}

.under-hero {
  color: var(--gray-7);
  font-size: var(--font-size-fluid-);
  margin-block-end: var(--size-3);
  font-weight: var(--font-weight-6);
}

.button-list {
  display: flex;
}

@media (prefers-reduced-motion: no-preference) {
  .animate-top-down {
    animation: var(--animation-slide-in-down);
  }
}

@media (prefers-reduced-motion: reduce) {
  .animate-top-down {
    animation: none;
  }
}

button {
  font-size: var(--font-size-fluid-0);
  padding-inline: var(--size-fluid-2);
  padding-block: var(--size-fluid-1);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);
  background: var(--brand);
  color: var(--gray-2);
  text-transform: uppercase;
  display: flex;
  gap: 1rem;
}

button:hover {
  transform: scale(1.1);
}

.promo-art {
  align-self: stretch;
  grid-area: image;
  max-width: 100%;
}

.promo-art > img {
  block-size: 100%;
  object-fit: cover;
  box-shadow: var(--shadow-3);
}
