.main-wrap {
  padding-block: var(--size-8);
  padding-inline: var(--size-4);
  display: grid;
  grid-template:
    "title" 0.2fr
    "content" 2fr / 1fr;
  place-items: center;
  position: relative;
  gap: var(--size-4);
}
@media (min-width: 950px) {
  .main-wrap {
    grid-template: "title content" / 1fr 2fr;
    padding-block: var(--size-12);
    padding-inline: var(--size-8);
    gap: var(--size-8);
    place-items: center;
  }
}

.section-title {
  grid-area: title;
  place-self: start;
}

@media (min-width: 950px) {
  .section-title {
    place-self: center;
  }
}

.content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  gap: var(--size-5);
  justify-items: center;
}
.content-title {
  font-size: var(--font-size-fluid-1);
  font-weight: var(--font-weight-6);
  max-inline-size: var(--size-content-2);
}
.expertise {
  display: grid;
  place-items: center;
  gap: var(--size-2);
  font-size: var(--font-size-fluid-0);
  overflow: hidden;
  height: var(--size-11);
  position: relative;
}

.expertise-list {
  display: flex;
  gap: var(--size-5);
}
.expertise-btn {
  padding: var(--size-2);
  background: transparent;
}

.active > button {
  background: var(--brand);
  color: var(--gray-1);
  border-radius: var(--radius-2);
  animation: var(--animation-slide-in-down);
  cursor: default;
}
