.main-wrap {
  padding-block: var(--size-8);
  display: grid;
  grid-template:
    "title" 0.2fr
    "content" 2fr / 1fr;
  place-items: start;
  position: relative;
  gap: var(--size-4);
}

@media (min-width: 950px) {
  .main-wrap {
    grid-template: "content title" / 2fr 1fr;
    padding-block: var(--size-11);
    padding-right: var(--size-10);
    gap: var(--size-8);
    place-items: center;
  }
}

.section-title {
  grid-area: title;
  padding-left: var(--size-4);
}

.container {
  grid-area: content;
  overflow-x: hidden;
  max-width: 100%;
}

.media-scroller {
  --_spacer: var(--size-3);
  display: grid;
  grid-auto-flow: column;
  gap: var(--_spacer);
  grid-auto-columns: 12rem;
  padding-inline: var(--_spacer);
  padding-block: var(--_spacer);
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}
.media-element {
  display: grid;
  grid-template-rows: min-content;
  gap: var(--_spacer);
  padding: var(--_spacer);
  background: var(--surface4);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);
}

.media-element:hover {
  transform: scale(1.1);
  transition: transform 100ms var(--ease-in-1);
}

.media-element > img {
  inline-size: 100%;
  aspct-ratio: var(--ratio-landscape);
  object-fit: cover;
  max-width: 100%;
  height: auto;
}
.media-element__title {
  font-size: var(--font-size-fluid-0);
}

.media-element__btn {
  font-size: var(--font-size-fluid-0);
  padding-inline: var(--size-1);
  padding-block: var(--size-1);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);
  background: var(--brand);
  color: var(--gray-2);
  display: block;
}

.media-element__btn:hover {
  transform: scale(1.1);
  transition: transform 100ms var(--ease-in-1);
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--_spacer);
}
.snaps-inline > * {
  scroll-snap-align: start;
}
